# LaTeX auxiliary files
*.cls
*.log
*.out
*.toc
*.dvi
*.aux
*.fls
*.fdb_latexmk
*.bak
*.idx
*.ilg
*.ind


# Spell check
*.aff
*.dic

# Venv
venv/


# Build folders
**/_build

# VSCode folders
.vscode/
.idea/

# Zipped content
static/logo/TripleYinYangTray.zip


presentations/*/build/*

removeme/*

sourcebook.synctex.gz
